body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  background-image: url('https://konachan.net/sample/7755083e54704a80786755226d1b0bc8/Konachan.com%20-%20324670%20sample.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center-top;
  background-repeat: repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

body > img {
  margin: 0 10px;
  border-width: 10px;
  border-style: double;
  border-color: rgb(255, 0, 0);
}

.posteres {
  width: 175px;
  display: inline-table;
  margin: 0 20px;
  
  border-width: 5px;
  border-style: double;
  border-color: rgb(255, 255, 255);
}

.posteres img {
	position: relative;
}
 }

figure.filme{
    margin: 50px 50px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.legenda{
  text-align:center;
  font-size: 20px;
  font: bold;
  width: auto;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  display: circle;
  background: rgba(0, 0, 0, 0.5);
